extends layout.pug

block content
  div(class="row")
    div(class="col-1")
    div(class="col-8")
      h1(class="display-2 my-5") Weather Man!
      form(class="form-inline active-cyan-3 active-cyan-4 justify-content-center" action="weather" method="POST")
        i(class="fas fa-search")
        input(class="form-control form-control-sm ml-3 w-75 btn-lg" type="text" name="searchTerm" placeholder="Search" required)
        input(type="image" src="images/search-img.png" id="search-btn" class="mx-1" style="width:4%")
